
/* FONT IMPORT */

/* LATO */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* ROBOTO */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Condensed:wght@300;400&display=swap');

/* MAIN STYLES */

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

body {
    background-color: #171717;
    color: #f0f0f0;
    margin: 0;
}

a:visited, a:link {
    text-decoration: none;
    color: var(--font-color);
}

/* MEDIA STYLES */

@media only screen and (min-width: 600px) {
    
    html {
        scroll-padding-top: 7vw;
    }

    .header {
        position: fixed;
        padding-top: 0.5vw;
        padding-bottom: 0.3vw;
        margin: auto;
        width: 100vw;
        padding-left: 10vw;
        padding-right: 10vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #171717;
        z-index: 4;

        -webkit-box-shadow: 0px .7vw 10px 0px rgba(23, 23, 23, 1);
        -moz-box-shadow: 0px .7vw 35px 0px rgba(23, 23, 23, 1);
        box-shadow: 0px .7vw 35px 0px rgba(23, 23, 23, 1);
    }
    
    /* LOGO */

    .logo {
        font-size: 1.5vw;
    }

    .secname {
        font-weight: 900;
    }
    
    /* NAVBAR */

    .navbar {
        display: flex;
        flex-direction: row;
        column-gap: 4vw;
        font-size: 1.2vw;
    }

    .nav-option {
        padding-top: 1vw;
        padding-bottom: 1vw;
    }
    
    .nav-option:hover {
        cursor: pointer;
        -webkit-box-shadow: inset 0px -3px 0px 0px #DA0037;
        -moz-box-shadow: inset 0px -3px 0px 0px #DA0037;
        box-shadow: inset 0px -3px 0px 0px #DA0037;
        transition: ease-in-out 0.2s;
        
    }

    .nav-option:active {
        color:#DA0037 ;
        transition: ease-in-out 0.1s;
    }

    /* BIG IMAGE */

    .bigimage {
        width: 100vw;
        display: flex;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .bigimage img {
        width:70%;
        margin: auto;
    }

    .quote {
        position: absolute;
        right: 10vw;
        top: 50vh;
        font-size: 4vw;
        width: 40%;
    }

    /* PROJECTS */

    .projects-lib {
        margin: auto;
        padding: 0 5vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 5vw;
    }

    .project-card {
        width: 30%;
        height: 85vh;
        border-radius: 15px;
        align-items: baseline;
        position: relative;

        -webkit-box-shadow: 0px 0px 38px 20px rgba(0, 0, 0, 1);
        -moz-box-shadow: 0px 0px 38px 20px rgba(0, 0, 0, 1);
        box-shadow: 0px 0px 38px 20px rgba(0, 0, 0, 1);
    }

    .project-card-img-div {
        margin: auto;
        overflow: hidden;
        height: 70%;
        width: 100%;
        border-radius: 15px;
        transition: .5s;
    }

    .project-card-content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0;
    }

    .project-card-content>h3 {
        text-align: center;
        font-size: 1.3vw;
        /* font-size: 3vh; */
        margin: 1.5vw auto 0;
        padding: 0 .5vw;
    }

    .project-card-content>p {
        padding: 0 1vw;
        font-size: 1vw;
    }

    .project-card-button {
        width: 80%;
        position: absolute;
        bottom: 2vw;
        left: 50%;
        transform: translate(-50%);

        background-color: #DA0037;
        border: 0;
        border-radius: 20px;
        padding: .5vw;
        color: #f0f0f0;

        -webkit-box-shadow: 0px 3px 0px 0px #ad002b;
        -moz-box-shadow: 0px 3px 0px 0px #ad002b;
        box-shadow: 0px 3px 0px 0px #ad002b;

        transition: .3s;
    }

    .project-card-button:hover {
        bottom: 1.9vw;
        transition: .3s;
    }

    .project-card-img {
        width: 100%;
        height: auto;
        position: relative;
        top: -15vh;
    }
    
    .project-card-img-div:hover + .card-info {
        display: flex;
    }

    .project-card-hr {
        border-top: 1px solid #f0f0f0;
        width: 100%;
    }

    .project-card-title, .project-card-desc {
        text-align: center;
    }


    /* SECTION */
    .section-title {
        margin-bottom: 10vh;
        text-align: center;
        font-size: 2.5vw;
    }

    .section-title hr {
        width: 30vw;
        background-color: var(--font-color);
        border: 2px solid white;
    }

    .aboutme-desc {
        font-size: 2vw;
        margin: auto;
        width: 80vw;
        margin-bottom: 25vh;
    }

    .aboutme-desc li {
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    ul {
        list-style-type: circle;
    }

    .contact {
        margin: auto;
        width: 90%;
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
    }

    .contact h2 {
        font-size: 2.2vw;
        margin-bottom: 6vh;
        text-align: center;
    }

    .space-under {
        margin-bottom: 5vh;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    .contact-icon {
        width: 2vw;
        margin: 1vw;
    }

    .contact li {
        display: flex;
        align-items: center;
    }

    .contact a:link {
        text-decoration: underline;
    }

    .contact-card-content {
        padding: 2vw;
        -webkit-box-shadow: 0px 0px 38px 20px rgba(0, 0, 0, 1);
        -moz-box-shadow: 0px 0px 38px 20px rgba(0, 0, 0, 1);
        box-shadow: 0px 0px 38px 20px rgba(0, 0, 0, 1);
        border-radius: 0.4vw;
        height: 18vw;
    }

    footer {
        width: 100%;
        height: 20vh;
        margin: 10vh 0 0;
        background-color: rgba(0, 0, 0, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: rgba(0, 0, 0, 1) 2px solid;
    }
}

@media only screen and (max-width: 600px) {

}